{% block modal_errors %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
{% endblock %}

{% block modal_body %}
    <div class="modal" tabindex="-1" role="dialog" id="login" aria-hidden="true" aria-labelledby="login-modal-title">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="login-modal-title">Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <div class="modal-body">
                    <div style="width:100%; float:left; padding-bottom:10px; color: red">
                        <div id="login_error">
                        </div>
                    </div>

                    {% block modal_content %}
                        <form id="login_form">
                            <div>
                                <label for="username">Username:</label>
                                <input type="text" id="username" name="_username" value="{{ last_username }}"/>
                            </div>
                            <div>
                                <label for="password">Password:</label>
                                <input type="password" id="password" name="_password"/>
                            </div>
                        </form>
                    {% endblock %}
                </div>
                <div class="modal-footer">
                    {% block modal_footer %}
                        <button type="submit" class="btn btn-primary" id="login_submit_btn">Login</button>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}