{% extends 'base.html.twig' %}
{% block header %}
    {{ parent() }}
{% endblock %}
{% block body %}
    {{ parent() }}
    {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <button id="login_btn" class="btn btn-primary" data-toggle="modal" data-target="#login">login</button>
    {% else %}
        <button id="logout_btn" class="btn btn-primary" onclick="location.href='/logout'">logout</button>
    {% endif %}
    {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        {% include 'security/login.html.twig' %}
    {% endif %}
{% endblock %}
{% block scripts %}
    {{ parent() }}
    {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <script type="text/javascript" src="{{ asset("build/login.js") }}">
        </script>
    {% endif %}
{% endblock %}