body {
    /*background-color: #026021;*/
    font-family: "Open Sans", sans-serif;
}

a {
    color: #FFF;
    text-decoration: none;
}
.top-bar {
    border-top: 4px solid #026021;
    background-color: #FFF;
    color: #FFF;
}

.top-bar > .container-fluid {
    padding: 0px;
}

.top-right-wrapper {
    background-color: #026021;

}
.top-bar-slashed {
    background-color: #026021;
    margin:auto;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=5); /*for IE*/
    height:100%;
    float:left;
    overflow: hidden;
    position: absolute;
    top: -50%;
    left: -50px;
    width: 76px;
}

.topbar ul {
    list-style: none;
    display:inline-block;
    margin:0px;
}
.topbar.topbar-left {
    float: left;
}
.topbar.topbar-right {
    float: right;
}
.topbar ul li {
    float:left;
    display:inline-block;
    font-size: 14px;
    padding-right: 10px;
    line-height:38px;
}
.topbar > ul > li > i {
    margin-right:5px;
}

.sticky-header img {
    max-width:20%;
    margin-top: -30px;
}