<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Noramarth">
    <title>{% block title %}{{ title }}!{% endblock %}</title>
    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
        <link
                rel="stylesheet"
                href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
                crossorigin="anonymous"
        >
        <link rel="stylesheet" href="{{ asset('build/global.css') }}">
        <link rel="stylesheet" href="{{ asset('build/app_styles.css') }}">
    {% endblock %}
</head>
<body>
{% block body %}
    {% block header %}
    {% endblock %}
    {% block page_content %}
        {% block sections %}
        {% endblock %}
    {% endblock %}
    {% block footer %}
    {% endblock %}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('build/global.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous">
    </script>
{% endblock %}
{% block scripts %}
{% endblock %}
</body>
</html>
